.task{
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    width: 28vw;
    height: 8vh;
    justify-content: flex-start;
    align-items:center;
    background-color:  hsl(235, 24%, 19%);
    color: white;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    border-bottom: 0.001em solid grey;
}

.outerCircle{
    width: 1.3em;
    height: 1.3em;
    margin-left: 1em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  hsl(234, 11%, 52%);
}
.outerCircle:hover{
    background: -webkit-linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
.circle{ 
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    background-color: hsl(235, 24%, 19%);
   
}
.gradientCheckBox{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../assets/icons/icon-check.svg');
    background-color: hsl(235, 24%, 19%);
  }

p{
    font-size: 1.1em;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    text-align: left;

}


.strikethrough{
    text-decoration: line-through;
    color:black;
}

